<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Fragments</title>
    </head>
    <body>

            <div th:fragment="barre_navigation">
                    <a href="JobsNow">
                        <img src="images/logoJN.png" id="logoJobsNow" alt="Jobs Now">
                    </a>
                    <a href="JobsNow">JobsNow</a>
                    <a href="Annonces">Annonces</a>
                    <a href="Partenaires">Partenaires</a>
                    <a href="Temoignages">Témoignages</a>
                    <a href="Contact">Nous contacter</a>
                    <a style="float:right" href="Connexion">Se connecter</a>
            </div>

    </body>
</html>