<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Fragments</title>
    </head>
    <body>

            <div th:fragment="barre_navigation">
                    <a href="JobsNow">
                        <img src="images/logoJN.png" id="logoJobsNow" alt="Jobs Now">
                    </a>
                    <a href="JobsNow">JobsNow</a>
                    <a href="Annonces">Annonces</a>
                    <a href="Partenaires">Partenaires</a>
                    <a href="Temoignages">Témoignages</a>
                    <a href="Contact">Nous contacter</a>

                    <a style="float:right" href="SeConnecter">Se connecter</a>
            </div>

            <div th:fragment="footer">
                <footer>
                    <a href="https://www.facebook.com/Jobs-Now-1662202004073313/">Facebook</a>
                    <a href="LinkedinUrl">LinkedIn</a>
                    <a href="Contact">Nous contacter</a>
                    <a href="MentionsLegales">Mentions légales</a>
                </footer>
            </div>

    </body>
</html>