<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Page d'accueil avec la présentation de l'asso -->

<head>
	<meta charset="UTF-8">
	<title>JobsNow - Partenaires</title>
	<link rel="stylesheet" href="JobsNow.css">
	<link rel="icon" type="image/png" href="images/logoJN.png"/>
	<link rel="icon" type="image/png" href="images/Adecco.png"/>
	<link rel="icon" type="image/jpg" href="images/GroupeLeader.jpg"/>
	<link rel="icon" type="image/png" href="images/CIC.png"/>
	<link rel="icon" type="image/png" href="images/Partnaire.png"/>
</head>

<body>

	<!-- Javascript -->
	<script type="text/javascript">
	</script>

	<!-- Contenu du site -->
	<div class="ContenuSansFooter">

	<!-- Barre de navigation -->
		<div class="topnav" id="myTopnav" th:insert="~{Fragments::barre_navigation}"></div>

		<!-- Partenaires -->
		<div id="divPartenaires">
			<h1>Nos partenaires</h1>
			<div class="divPartenaire">
				<div class="logoPartenaire">
					<img src="images/Adecco.png" class="logoMembre" alt="Adecco">
				</div>
				<div class="descriptionPartenaire">
					<h3>Adecco</h3>
					<p>Depuis l’année dernière Adecco nous fait confiance en proposant aux étudiants de nombreuses missions d’hôtes et d’hôtesse d’acceuil au Grand stade de Lille. Jobs Now t’offre la possibilité d’être former pour ensuite travailler dans les loges VIP, les tribunes ou encore les zones de restauration du stade. </p>
				</div>
			</div>
			<div class="divPartenaire">
				<div class="logoPartenaire">
					<img src="images/GroupeLeader.jpg" class="logoMembre" alt="GroupeLeader">
				</div>
				<div class="descriptionPartenaire">
					<h3>Leader intérim</h3>
					<p>Leader intérim  vous propose des missions temporaire comme des préparations de commande ou des inventaires pour arrondir vos fin de mois. </p>
				</div>
			</div>
			<div class="divPartenaire">
				<div class="logoPartenaire">
					<img src="images/Partnaire.png" class="logoMembre" alt="Partnaire">
				</div>
				<div class="descriptionPartenaire">
					<h3>Partnaire intérim</h3>
					<p>Cette année Jobs Now c’est associé à Partnaire intérim, une agence lilloise spécialisée dans les inventaires. Partnaire organise au sein d’HEI des sessions de recrutements au cours de l’année. </p>
				</div>
			</div>
			<div class="divPartenaire">
				<div class="logoPartenaire">
					<img src="images/CIC.png" class="logoMembre" alt="CIC">
				</div>
				<div class="descriptionPartenaire">
					<h3>CIC</h3>
					<p>CIC nous accompagne tout au long de l’année et nous aide principalement dans l’hébergement du site.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:insert="~{Fragments::footer}"></div>

</body>
</html>