<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Page d'accueil avec la présentation de l'asso -->

<head>
	<meta charset="UTF-8">
	<title>JobsNow - Annonces</title>
	<link rel="stylesheet" href="JobsNow.css">
	<link rel="icon" type="image/png" href="images/logoJN.png"/>
</head>

<body>

	<!-- Javascript -->
	<script type="text/javascript">
	</script>

	<!-- Contenu du site -->
	<div class="ContenuSansFooter">

		<!-- Barre de navigation -->
		<div class="topnav" id="myTopnav" th:insert="~{Fragments::barre_navigation}"></div>

		<!-- Annonces -->
		<div id="divAnnonces">
			<h1>Nos annonces</h1>
			<div class="divAnnonce">
				<h3>Annonce</h3>
				<p>Date</p>
				<p>Lieu</p>
				<p>Tenue</p>
				<p>Remuneration</p>
				<p>Description</p>
				<div class="divBouton">
					<button>Liker</button>
					<button>Postuler</button>
				</div>	
			</div>
			<div class="divAnnonce">
				<h3>Annonce</h3>
				<p>Date</p>
				<p>Lieu</p>
				<p>Tenue</p>
				<p>Remuneration</p>
				<p>Description</p>
				<div class="divBouton">
					<button>Liker</button>
					<button>Postuler</button>
				</div>		
			</div>
			<div class="divAnnonce">
				<h3>Annonce</h3>
				<p>Date</p>
				<p>Lieu</p>
				<p>Tenue</p>
				<p>Remuneration</p>
				<p>Description</p>
				<div class="divBouton">
					<button>Liker</button>
					<button>Postuler</button>
				</div>		
			</div>
			<div class="divAnnonce">
				<h3>Annonce</h3>
				<p>Date</p>
				<p>Lieu</p>
				<p>Tenue</p>
				<p>Remuneration</p>
				<p>Description</p>
				<div class="divBouton">
					<button>Liker</button>
					<button>Postuler</button>
				</div>		
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:insert="~{Fragments::footer}"></div>

</body>
</html>