<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Page d'accueil avec la présentation de l'asso -->

<head>
	<meta charset="UTF-8">
	<title>JobsNow - Contact</title>
	<link rel="stylesheet" href="JobsNow.css">
	<link rel="icon" type="image/png" href="images/logoJN.png"/>
</head>

<body>

	<!-- Javascript -->
	<script type="text/javascript">
	</script>

	<!-- Contenu du site -->
	<div class="ContenuSansFooter">


		<!-- Barre de navigation -->
		<div class="topnav" id="myTopnav" th:insert="~{Fragments::barre_navigation}"></div>

		<!-- Formulaire de contact -->
		<div class="divFormulaire">
			<h1>Nous contacter</h1>
			<form class="formulaire" action="contacter" method="post">
				<input type="text" name="nom" placeholder="Nom" class="input">
				<input type="text" name="prenom" placeholder="Prénom" class="input">
				<input type="email" name="email" placeholder="Email" class="input">
				<select name="statut" class="input">
			        <option value="Etudiant" selected="selected">Etudiant</option>
			        <option value="Pro">Professionnel</option>
			        <option value="Autre">Autre</option>
			    </select>
				<textarea name="message" cols="40" rows="10" id="message" class="input">Votre message...</textarea>
				<input type="submit" name="connexion" placeholder="Se connecter" class="inputButton">
			</form>
		</div>
	</div>

	<!-- Footer -->
	<div th:insert="~{Fragments::footer}"></div>

</body>
</html>