<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Page d'accueil avec la présentation de l'asso -->

<head>
    <meta charset="UTF-8">
    <title>JobsNow - Intranet</title>
    <link rel="stylesheet" href="JobsNow.css">
    <link rel="icon" type="image/png" href="images/logoJN.png"/>
</head>

<body>

<!-- Javascript -->
<script type="text/javascript">
</script>

<!-- Contenu du site -->
<div class="ContenuSansFooter">

    <!-- Barre de navigation -->
    <div class="topnav" id="myTopnav" th:insert="~{Fragments::barre_navigation}"></div>

    <!-- Se déconnecter -->
    <a href="deconnexion" style="font-family: Calibri; color: black; float: right; text-decoration: none; margin-right: 16px; margin-top: 16px; font-size: 17px">Se déconnecter</a>

    <!-- Formulaire d'ajout d'une annonce -->
    <div class="divFormulaire">
        <h1>Ajouter une annonce</h1>
        <form class="formulaire" method="post" action="addAnnonce">
            <input type="text" name="titre" placeholder="Titre" class="input">
            <textarea name="description" cols="40" rows="10" id="description" class="input">Description de l'annonce...</textarea>
            <p>Date de début :</p>
            <input type="date" name="dateDebut" placeholder="Date de début" min="2018-01-01" class="input">
            <input type="text" name="lieu" placeholder="Lieu" class="input">
            <p>Formation :</p>
            <select name="formation" class="input">
                <option value="oui">Oui</option>
                <option value="non">Non</option>
            </select>
            <input type="text" name="tenue" placeholder="Tenue" class="input">
            <input type="number" name="remuneration" min="1" placeholder="Rémunération" step="0.01" class="input">
            <input type="submit" name="ajouter" placeholder="Ajouter" class="inputButton">
        </form>
    </div>

    <!-- Formulaire de retrait d'une annonce -->
    <div class="divFormulaire">
        <h1>Retirer une annonce</h1>
        <form class="formulaire" method="post" action="delAnnonce">
            <input type="number" name="id" min="1" placeholder="ID" class="input">
            <input type="submit" name="retirer" placeholder="Retirer" class="inputButton">
        </form>
    </div>

    <!-- Ajouter un administrateur -->
    <div class="divFormulaire">
        <h1>Ajouter un admninistrateur</h1>
        <form class="formulaire" method="post" action="addUtilisateur">
            <input type="text" name="nom" placeholder="Nom" class="input" required>
            <input type="text" name="prenom" placeholder="Prénom" class="input" required>
            <input type="text" name="tel" placeholder="Numéro de téléphone" class="input" required>
            <input type="email" name="email" placeholder="Email Yncréa" class="input" pattern=".+yncrea.fr" title="Merci de fournir uniquement une adresse Yncrea" required>
            <input type="password" name="mdp" placeholder="Mot de passe" class="input" required>
            <input type="submit" name="inscription" placeholder="S'inscrire" class="inputButton">
        </form>
    </div>

</div>

<!-- Footer -->
<div th:insert="~{Fragments::footer}"></div>

</body>
</html>