<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Page d'accueil avec la présentation de l'asso -->

<head>
	<meta charset="UTF-8">
	<title>JobsNow - Annonces</title>
	<link rel="stylesheet" href="JobsNow.css">
	<link rel="icon" type="image/png" href="images/logoJN.png"/>
</head>

<body>

	<!-- Javascript -->
	<script type="text/javascript">
	</script>

	<!-- Contenu du site -->
	<div class="ContenuSansFooter">

		<!-- Barre de navigation -->
		<div class="topnav" id="myTopnav" th:insert="~{Fragments::barre_navigation}"></div>

		<!-- Annonces -->
		<div id="divAnnonces">
			<h1>Nos annonces</h1>
			<div class="divAnnonce" th:each="annonce : ${listAnnonce}">
				<h3 th:text="${annonce.titre}"></h3>

					<div style="margin-top: 1em; margin-bottom: 1em"><p style="display: inline">Numéro de l'annonce : </p>  <p style="display: inline" th:text="${annonce.idAnnonce}"></p></div>
					<div style="margin-top: 1em; margin-bottom: 1em"><p style="display: inline">Date : </p> 				<p style="display: inline" th:text="${annonce.dateDebut}"></p></div>
					<div style="margin-top: 1em; margin-bottom: 1em"><p style="display: inline">Lieu : </p> 				<p style="display: inline" th:text="${annonce.lieu}"></p></div>
					<div style="margin-top: 1em; margin-bottom: 1em"><p style="display: inline">Tenue : </p>				<p style="display: inline" th:text="${annonce.tenue}"></p></div>
					<div style="margin-top: 1em; margin-bottom: 1em"><p style="display: inline">Formation : </p>			<p style="display: inline" th:text="${annonce.formation}"></p></div>
					<div style="margin-top: 1em; margin-bottom: 1em"><p style="display: inline">Remuneration : </p> 		<p style="display: inline" th:text="${annonce.remuneration}"></p></div>
					<div style="margin-top: 1em; margin-bottom: 1em"><p style="display: inline">Description : </p> 			<p style="display: inline" th:text="${annonce.description}"></p></div>
				<div style="margin-top: 1em; margin-bottom: 1em"><form action="mailgun" method="post" enctype="text/plain">
					<input name="subject" type="hidden" th:value="${annonce.idAnnonce}+'+'+${annonce.titre}+'+'+${annonce.dateDebut}">
					<div type="body">
						<input name="nom" type="text" required placeholder="Nom" value="" class="input">
						<input name="pénom" type="text" required placeholder="Prénom" value="" class="input">
						<input name="email" type="email" required placeholder="email" value="" pattern=".+yncrea.fr" class="input">
						<input name="telephone" type="text" required placeholder="Numéro de téléphone" value="" class="input">
						<input type="submit" name="postuler" value="Je postule" class="inputButton">
					</div>

					</form>
				</div>

			</div>
		</div>
	</div>

	<!-- Footer -->
	<div th:insert="~{Fragments::footer}"></div>

</body>
</html>